<footer>
	<div class="w-full bg-pink-900 p-8 pt-12 pb-10 mt-10 text-white">
		<div class="grid grid-flow-col xs:grid-flow-row xs:grid-rows-1 sm:grid-rows-2 grid-rows-1 gap-4">
			<div class="hover:shadow-outline rounded-md">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mb-2">What is SCSS ?</div>
					<p class="text-white text-base">
						SCSS : Syntactically Awesome Style Sheet is the superset of CSS. SCSS is the more advanced version of CSS. SCSS was designed by Hampton Catlin and was developed by Chris Eppstein and
						Natalie Weizenbaum.
					</p>
					<p>
						<a href="https://sass-lang.com" target="_blank" rel="nofollow" class="underline">> More about SCSS</a>
					</p>
				</div>
				<div class="px-6 py-4">
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#css</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#scss</span>
				</div>
			</div>
			<div class="hover:shadow-outline rounded-md">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mb-2">Different between SCSS and SASS</div>
					<p class="text-white text-base">
						SASS is used when we need a original syntax, code syntax is not required for SCSS. SASS follows strict indentation, SCSS has no strict indentation. SASS has a loose syntax with white space
						and no semicolons, the SCSS resembles more to CSS style and use of semicolons and braces are mandatory.
					</p>
				</div>
				<div class="px-6 py-4">
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#different</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#sass</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#scss</span>
				</div>
			</div>
			<div class="hover:shadow-outline rounded-md">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mb-2">All Converter</div>
					<p class="text-white text-base">
						<a href="/" class="underline">> SCSS to CSS</a>
					</p>
					<p>
						<a href="/sass-css" class="underline">> SASS to CSS</a>
					</p>
					<p>
						<a href="css-scss" class="underline">> CSS to SCSS</a>
					</p>
				</div>
				<div class="px-6 py-4">
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#scss</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#sass</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#converter</span>
				</div>
			</div>
			<div class="rounded-md">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mb-2">
						<i class="fa fa-envelope"></i>
						Hire me
					</div>
					<div class="flex justify-between">
						<input
							class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
							type="email"
							placeholder="yourmail@mail.com"
						/>
						<button class="bg-pink-600 hover:bg-pink-700 text-white font-bold ml-3 py-2 px-4 rounded">
							Subscribe
						</button>
					</div>
				</div>
				<div class="px-6 py-4">
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#nodejs</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#php</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#vue</span>
				</div>
			</div>
		</div>
	</div>
	<div class="flex justify-end items-center bg-pink-900 text-white p-8 pr-12">
		<span>Follow us on</span>
		<a href="https://instagram.com/dickaismaji" target="_blank" rel="nofollow" class="ml-2" title="instagram">
			<i class="fa fa-instagram"></i>
		</a>
		<a href="https://facebook.com/dickaismaji" target="_blank" rel="nofollow" class="ml-2" title="facebook">
			<i class="fa fa-facebook-square"></i>
		</a>
		<a href="https://github.com/dicka88" target="_blank" rel="nofollow" class="ml-2" title="github">
			<i class="fa fa-github-square"></i>
		</a>
		<a href="https://linkedin.com/in/dickaismaji" target="_blank" rel="nofollow" nofollow class="ml-2" title="linkedin">
			<i class="fa fa-linkedin-square"></i>
		</a>
	</div>
	<div class="flex bg-gray-800 pt-1 pb-4 justify-center text-4md text-white">
		<small>Build with ❤️ by <a class="underline" href="https://github.com/dicka88">Dicka Ismaji</a> for developers</small>
	</div>
</footer>
