<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			SCSS compiler
		</title>
		<link rel="shortcut icon" href="images/icon-72x72.png" type="image/x-icon" />
		<meta http-equiv="X-UA-Compatible" content="IE=7" />
		<meta name="description" content="SCSS Compiler to CSS and reverse" />
		<meta name="robots" content="index, follow" />
		<meta name="og:locale" content="en_US" />
		<meta name="type" content="tools" />
		<meta name="theme" content="#b83280" />
		<meta name="google-site-verification" content="rTwTmTH3KJMFk8l_h-B150m1AjCYOOcoipEyarUI1DA" />
		<link rel="stylesheet" href="/css/tailwind.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/a11y-dark.min.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<style>
			#css-editor,
			#scss-editor {
				height: 100% !important;
				width: 100% !important;
				font-size: 17px;
			}
			.fullscreen {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.convert {
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				position: absolute;
				margin: auto;
				width: 50px;
				height: 50px;
				z-index: 5;
			}
			.convert-button {
				border-radius: 50px;
				background-color: rgb(45, 112, 214);
				display: flex;
				justify-content: center;
				border: none;
				width: 50px;
				height: 50px;
				transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s;
			}
			.convert-button:hover {
				background-color: rgb(26, 98, 161);
			}
			.convert-button:active {
				transform: scale(0.9);
			}
			.ace_scrollbar {
				display: none !important;
			}
			.material-icons {
				font-size: 20px;
				vertical-align: middle;
			}
			img {
				user-drag: none;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-drag: none;
				-webkit-user-select: none;
				-ms-user-select: none;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="flex bg-black justify-center text-gray-200">
				<span>Black lives matter</span>
			</div>
			<nav class="flex items-center justify-between flex-wrap bg-pink-700 p-6">
				<div class="flex items-center flex-shrink-0 text-white mr-6">
					<img src="/images/icon-72x72.png" style="width: auto; height: 50px; margin-top: -10px; margin-bottom: -10px;" class="mr-3" alt="" srcset="" />
					<span class="font-semibold text-xl tracking-tight">SCSS Compiler</span>
				</div>
				<div class="block lg:hidden">
					<button onclick="navbarToggle()" class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
						<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<title>
								Menu
							</title>
							<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
						</svg>
					</button>
				</div>
				<div class="navbar-item w-full xs:hidden sm:hidden flex-grow lg:flex lg:items-center lg:w-auto">
					<div class="text-sm lg:flex-grow">
						<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
							SCSS-CSS
						</a>
						<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
							CSS-SCSS
						</a>
						<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
							SASS-CSS
						</a>
					</div>
					<div>
						<a
							href="https://github.com/dicka88/scss-compiler"
							class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
						>
							<i class="fa fa-github"></i>
							<span>Github</span>
						</a>
						<a href="#" class="text-white ml-5">
							<i class="material-icons">favorite_border</i>
						</a>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="flex justify-between items-center hidden xs:block mt-4 mb-1">
				<div class="relative">
					<ul id="editor-switcher" class="flex border-b">
						<li class="mr-1">
							<a
								href="#"
								id="editor-switcher_scss"
								onclick="editor_switcher('scss')"
								class="bg-white inline-block border-1 rounded-t py-2 px-4 hover:bg-pink-800 hover:text-white bg-pink-700 text-white font-semibold"
								>SCSS</a
							>
						</li>
						<li class="mr-1">
							<a href="#" id="editor-switcher_css" onclick="editor_switcher('css')" class="bg-white inline-block border-1 rounded-t py-2 px-4 hover:bg-pink-800 hover:text-white">CSS</a>
						</li>
						<li class="mr-1">
							<a href="#" id="editor-switcher_demo" onclick="editor_switcher('')" class="bg-white inline-block border-1 rounded-t py-2 px-4 hover:bg-pink-800 hover:text-white">DEMO</a>
						</li>
						<button class="convert-button text-white absolute right-0 mr-2 w-8 h-8">
							<i class="material-icons">play_arrow</i>
						</button>
					</ul>
				</div>
			</div>
			<div class="flex mb-4" style="position: relative;">
				<div class="w-1/2 xs:w-full mr-1 xs:mr-0 bg-gray-200 h-screen scss-wrapper">
					<div class="flex px-3 py-1 justify-between bg-white">
						<div style="margin: auto 0;">
							<img src="./images/sass-icon.svg" style="height: 20px;" alt="" />
						</div>
						<div>
							<button title="download" onclick="scssSaveFile()"><i class="material-icons">file_download</i></button>
							<button title="copy" data-clipboard-target="#scss-editor" onclick="scssCopyClipboard()"><i class="material-icons">content_copy</i></button>
							<button title="clear" onclick="scssClear()"><i class="material-icons">clear</i></button>
							<button title="beautify scss" onclick="scssbeautify()"><i class="material-icons">format_paint</i></button>
							<button title="fullscreen" onclick="scssFullscreen()"><i class="material-icons">fullscreen</i></button>
						</div>
					</div>
					<div id="scss-editor" class="fullscreen"></div>
				</div>
				<div class="w-1/2 xs:w-full ml-1 xs:ml-0 bg-gray-900 h-screen css-wrapper xs:hidden">
					<div class="flex px-3 py-1 justify-between bg-white">
						<div style="margin: auto 0;" class="flex justify-between">
							<img src="./images/css3-icon.svg" style="height: 24px;" alt="" />
							<span class="pl-2">Result</span>
							<span class="ml-4"><i class="fa fa-cog fa-spin"></i></span>
						</div>
						<div>
							<button title="download"><i class="material-icons">file_download</i></button>
							<button title="copy"><i class="material-icons">content_copy</i></button>
							<button title="fullscreen" onclick="cssFullscreen()"><i class="material-icons">fullscreen</i></button>
						</div>
					</div>
					<div id="css-editor"></div>
				</div>
				<div class="convert xs:hidden">
					<button class="convert-button text-white">
						<i class="material-icons">play_arrow</i>
					</button>
				</div>
			</div>
		</main>
		<footer>
			<div class="w-full bg-pink-900 p-8 pt-12 pb-10 mt-10 text-white">
				<div class="grid grid-flow-col xs:grid-flow-row xs:grid-rows-1 sm:grid-rows-2 grid-rows-1 gap-4">
					<div class="hover:shadow-outline rounded-md">
						<div class="px-6 py-4">
							<div class="font-bold text-xl mb-2">What is SCSS ?</div>
							<p class="text-white text-base">
								SCSS : Syntactically Awesome Style Sheet is the superset of CSS. SCSS is the more advanced version of CSS. SCSS was designed by Hampton Catlin and was developed by Chris Eppstein and
								Natalie Weizenbaum.
							</p>
							<p>
								<a href="https://sass-lang.com" target="_blank" rel="nofollow" class="underline">> More about SCSS</a>
							</p>
						</div>
						<div class="px-6 py-4">
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#css</span>
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#scss</span>
						</div>
					</div>
					<div class="hover:shadow-outline rounded-md">
						<div class="px-6 py-4">
							<div class="font-bold text-xl mb-2">Different between SCSS and SASS</div>
							<p class="text-white text-base">
								SASS is used when we need a original syntax, code syntax is not required for SCSS. SASS follows strict indentation, SCSS has no strict indentation. SASS has a loose syntax with white
								space and no semicolons, the SCSS resembles more to CSS style and use of semicolons and braces are mandatory.
							</p>
						</div>
						<div class="px-6 py-4">
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#different</span>
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#sass</span>
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#scss</span>
						</div>
					</div>
					<div class="hover:shadow-outline rounded-md">
						<div class="px-6 py-4">
							<div class="font-bold text-xl mb-2">All Converter</div>
							<p class="text-white text-base">
								<a href="/" class="underline">> SCSS to CSS</a>
							</p>
							<p>
								<a href="/sass-css" class="underline">> SASS to CSS</a>
							</p>
							<p>
								<a href="css-scss" class="underline">> CSS to SCSS</a>
							</p>
						</div>
						<div class="px-6 py-4">
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#scss</span>
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#sass</span>
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#converter</span>
						</div>
					</div>
					<div class="rounded-md">
						<div class="px-6 py-4">
							<div class="font-bold text-xl mb-2">
								<i class="fa fa-envelope"></i>
								Hire me
							</div>
							<div class="flex justify-between">
								<input
									class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
									type="email"
									placeholder="yourmail@mail.com"
								/>
								<button class="bg-pink-600 hover:bg-pink-700 text-white font-bold ml-3 py-2 px-4 rounded">
									Subscribe
								</button>
							</div>
						</div>
						<div class="px-6 py-4">
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#nodejs</span>
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#php</span>
							<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#vue</span>
						</div>
					</div>
				</div>
			</div>
			<div class="flex justify-end bg-pink-900 text-white p-8 pr-12">
				<span>Follow us on</span>
				<a href="https://instagram.com/dickaismaji" target="_blank" rel="nofollow" class="ml-2" title="instagram">
					<i class="fa fa-instagram"></i>
				</a>
				<a href="https://facebook.com/dickaismaji" target="_blank" rel="nofollow" class="ml-2" title="facebook">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="https://github.com/dicka88" target="_blank" rel="nofollow" class="ml-2" title="github">
					<i class="fa fa-github-square"></i>
				</a>
				<a href="https://linkedin.com/in/dickaismaji" target="_blank" rel="nofollow" nofollow class="ml-2" title="linkedin">
					<i class="fa fa-linkedin-square"></i>
				</a>
			</div>
			<div class="flex bg-gray-800 pt-1 pb-4 justify-center text-4md text-white">
				<small>Build with ❤️ by <a class="underline" href="https://github.com/dicka88">Dicka Ismaji</a> for developers</small>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-beautify.js"></script>
		<script>
			ace.require("ace/ext/language_tools");

			var scsseditor = ace.edit("scss-editor");
			scsseditor.setTheme("ace/theme/monokai");
			scsseditor.session.setMode("ace/mode/scss");
			scsseditor.setOptions({
				enableBasicAutocompletion: false,
				enableSnippets: false,
				enableLiveAutocompletion: true,
				tabSize: 2,
				showPrintMargin: false,
			});

			/**
			 * set value for demo
			 */
			scsseditor.setValue(
				`
				.code {
					color: red;
					&:hover {
						transform: scale(1.4)
					}
				}
			`,
				1
			);

			// for beautify
			var beautify = ace.require("ace/ext/beautify");
			function scssbeautify() {
				beautify.beautify(scsseditor.session);
			}

			var csseditor = ace.edit("css-editor");
			csseditor.setReadOnly(true);
			csseditor.setTheme("ace/theme/monokai");
			csseditor.session.setMode("ace/mode/css");
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				document.querySelector(".convert-button").addEventListener("click", fetchCss);
			});
		</script>
		<script>
			// listener
			let debFetch = debounce(fetchCss, 1500);
			scsseditor.session.on("change", function (delta) {
				debFetch();
			});

			async function fetchCss() {
				const stringScss = scsseditor.getValue();
				if (!stringScss) return;

				const data = await fetch("/api/scss-css", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						string: stringScss,
					}),
				});
				if (!data) return;
				const html = await data.text();
				console.log(html);

				csseditor.setValue(html, 1);
			}

			function debounce(callback, time) {
				var timeout;
				return function () {
					clearTimeout(timeout);

					timeout = setTimeout(callback, time);
				};
			}

			// helper
			// copy to clipboard from string
			const copyClipboard = (string) => {
				var el = document.createElement("textarea");
				el.style.display = "hidden";
				el.value = string;
				document.body.appendChild(el);
				el.select();
				document.execCommand("copy");
				document.body.removeChild(el);
			};

			// save file
			const saveFile = (function () {
				var a = document.createElement("a");
				document.body.appendChild(a);
				a.style = "display: none";
				return function (data, fileName) {
					// const string = Strin.toString
					var blob = new Blob([data], { type: "octet/stream" }),
						url = window.URL.createObjectURL(blob);
					a.href = url;
					a.download = fileName;
					a.click();
					window.URL.revokeObjectURL(url);
				};
			})();

			// scss css switcher
			function editor_switcher(to) {
				console.log(to);

				let ahref = document.querySelectorAll("#editor-switcher li a");
				ahref.forEach((e) => e.classList.remove("bg-pink-700", "text-white", "font-semibold"));

				switch (to) {
					case "css":
						document.querySelector(".css-wrapper").classList.remove("xs:hidden");
						document.querySelector(".scss-wrapper").classList.add("xs:hidden");
						document.querySelector("#editor-switcher #editor-switcher_css").classList.add("bg-pink-700", "text-white", "font-semibold");
						csseditor.gotoLine(0, 1);
						break;
					case "scss":
						document.querySelector(".css-wrapper").classList.add("xs:hidden");
						document.querySelector("#editor-switcher #editor-switcher_scss").classList.add("bg-pink-700", "text-white", "font-semibold");
						document.querySelector(".scss-wrapper").classList.remove("xs:hidden");
						break;
					case "demo":
						break;
					default:
				}
			}

			// navbar toggler
			function navbarToggle() {
				document.querySelector(".navbar-item").classList.toggle("xs:hidden");
			}

			// scss toolbar
			const scssFullscreen = () => (!document.fullscreen ? document.querySelector(".scss-wrapper").requestFullscreen() : document.exitFullscreen());
			const scssCopyClipboard = () => copyClipboard(scsseditor.getValue());
			const scssSaveFile = () => saveFile(scsseditor.getValue(), "scssdownload.scss");

			const cssFullscreen = () => (!document.fullscreen ? document.querySelector(".css-wrapper").requestFullscreen() : document.exitFullscreen());
		</script>
	</body>
</html>
