<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="h-screen w-screen bg-black flex justify-center content-center flex-wrap" >
      <p class="font-sans text-white xs:text-4xl lg:text-6xl">404</p>
    </div>
    <div class="absolute w-screen bottom-0 mb-6 text-white text-center font-sans text-xl" >
      <span class="opacity-50">Take me back to</span>
      <a class="border-b" href="/"> home</a>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
