<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
      <main>
        <div class="flex justify-between items-center hidden xs:block mt-4 mb-1">
          <div class="relative">
            <ul id="editor-switcher" class="flex border-b">
              <li class="mr-1">
                <a href="#" id="editor-switcher_scss" onclick="editor_switcher('scss')" class="bg-white inline-block border-1 rounded-t py-2 px-4 hover:bg-pink-800 hover:text-white bg-pink-700 text-white font-semibold">SCSS</a>
              </li>
              <li class="mr-1">
                <a href="#" id="editor-switcher_css" onclick="editor_switcher('css')" class="bg-white inline-block border-1 rounded-t py-2 px-4 hover:bg-pink-800 hover:text-white">CSS</a>
              </li>
              <li class="mr-1">
                <a href="#" id="editor-switcher_demo" onclick="editor_switcher('')" class="bg-white inline-block border-1 rounded-t py-2 px-4 hover:bg-pink-800 hover:text-white">DEMO</a>
              </li>
              <button class="convert-button text-white absolute right-0 mr-2 w-8 h-8">
              <i class="material-icons">play_arrow</i>
            </button>
            </ul>
          </div>
        </div>
        <div class="flex mb-4" style="position: relative;">
          <div class="w-1/2 xs:w-full mr-1 xs:mr-0 bg-gray-200 h-screen scss-wrapper">
            <div class="flex px-3 py-1 justify-between bg-white">
              <div style="margin: auto 0;">
                <img src="./images/sass-icon.svg" style="height: 20px;" alt="" />
              </div>
              <div>
                <button title="download" onclick="scssSaveFile()">
                <i class="material-icons">file_download</i>
              </button>
                <button title="copy" data-clipboard-target="#scss-editor" onclick="scssCopyClipboard()">
                <i class="material-icons">content_copy</i>
              </button>
                <button title="clear" onclick="scssClear()">
                <i class="material-icons">clear</i>
              </button>
                <button title="beautify scss" onclick="scssbeautify()">
                <i class="material-icons">format_paint</i>
              </button>
                <button title="fullscreen" onclick="scssFullscreen()">
                <i class="material-icons">fullscreen</i>
              </button>
              </div>
            </div>
            <div id="scss-editor" class="fullscreen"></div>
          </div>
          <div class="w-1/2 xs:w-full ml-1 xs:ml-0 bg-gray-900 h-screen css-wrapper xs:hidden">
            <div class="flex px-3 py-1 justify-between bg-white">
              <div style="margin: auto 0;" class="flex items-center justify-between">
                <img src="./images/css3-icon.svg" style="height: 24px;" alt="" />
                <span class="pl-2">Result</span>
                <span class="ml-4 convert-loading hidden">
                  <i class="fa fa-cog fa-spin"></i>
                </span>
              </div>
              <div>
                <button title="download" onclick="cssSaveFile()">
                <i class="material-icons">file_download</i>
              </button>
                <button title="copy" onclick="cssCopyClipboard()">
                <i class="material-icons">content_copy</i>
              </button>
                <button title="fullscreen" onclick="cssFullscreen()">
                <i class="material-icons">fullscreen</i>
              </button>
              </div>
            </div>
            <div id="css-editor"></div>
          </div>
          <div class="convert xs:hidden">
            <button class="convert-button text-white">
            <i class="material-icons">play_arrow</i>
          </button>
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-beautify.js"></script>
        <script src="/js/home.js"></script>
  </body>

</html>