/* custom css */
/* purgecss start ignore */
#css-editor,
#scss-editor {
  height: 100% !important;
  width: 100% !important;
  font-size: 17px;
}
.fullscreen {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.convert {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
  z-index: 5;
}
.convert-button {
  border-radius: 50px;
  background-color: rgb(45, 112, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50px;
  height: 50px;
  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s;
}
.convert-button:hover {
  background-color: rgb(26, 98, 161);
}
.convert-button:active {
  transform: scale(0.9);
}
.ace_scrollbar {
  display: none !important;
}
.material-icons {
  font-size: 20px;
  vertical-align: middle;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* purgecss end ignore */
