<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
	SCSS compiler | Convert SCSS/SASS Snippets to CSS code
</title>
<link rel="shortcut icon" href="images/icon-72x72.png" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="description" content="Online SCSS Compiler to Convert SCSS/SASS Snippets to CSS code" />
<meta name="keyword" content="html, css, scss, sass, convert sass, convert scss" />
<meta name="robots" content="index, follow" />
<meta name="og:locale" content="en_US" />
<meta name="author" content="Dicka Ismaji" />
<meta name="type" content="tools" />
<meta name="theme-colo" content="#b83280" />
<meta name="google-site-verification" content="rTwTmTH3KJMFk8l_h-B150m1AjCYOOcoipEyarUI1DA" />
<link rel="stylesheet" href="/css/tailwind.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/a11y-dark.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script>
	var clicky_site_ids = clicky_site_ids || [];
	clicky_site_ids.push(101265866);
</script>
<script async src="//static.getclicky.com/js"></script>
